.button {
    position: absolute;
    left: 74px;
    top: 74px;
    padding: 12px;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    border: 0;
    z-index: 10;
}

.button__icon {
    width: 32px;
}

.button, .button__icon {
    transition: all 0.2s ease-in-out;
}

.button:hover,
.button:active {
    background-color: black;
}

.button:hover > .button__icon,
.button:active > .button__icon {
    filter: invert();
}